html, body
{
width:100%;
height:100%;
font-size:5px;
color:#009;
}

/*.main-page
{
position:relative;
max-width:320px;
margin:0 auto 0 auto;
}*/

/* main.html */

/*#main-body
{
background-image:url(/static/images/background/bk6.jpg);
filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
-moz-background-size:100% 100%;
    background-size:100% 100%;
}*/

/*右上角登录展示*/
.main-welcome
{
position:relative;
text-align:center;
bottom:4%;
}

/* 图片连播 */
#scrollPics{
    position:relative;
    left:-2%;
    height:200px;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
}

.slider li
{
list-style-type:none;
}

.slider .li-text
{
position:absolute;
top:150px;
left:10%;
font-size:16px;
}


/* 将数字绝对定位 */
.num
{
    position:absolute;
    right:3%;
    bottom:1%;
}


/* 数字设置 */
#scrollPics .num li{
    float: left;
    color: #FF7300;
    text-align: center;
    line-height: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    overflow: hidden;
    margin: 3px 1px;
    border: 1px solid #FF7300;
    background-color: #fff;
}
#scrollPics .num li.on{
    color: #fff;
    line-height: 21px;
    width: 21px;
    height: 21px;
    font-size: 16px;
    margin: 0 1px;
    border: 0;
    background-color: #FF7300;
    font-weight: bold;
}
/* 图片联播 end */
/* 中间版块展示 */
.main-panel
{
position:relative;
border-radius:50px 50px;
}
.main-panel-ul li
{
padding:0.5%;
}



/* register.html begin*/
.register-body
{
position:relative;
margin:0 auto 0 auto;
width:80%;
}

/* 注册表单标题 */
.register-legend
{
text-align:center;
}

/* 注册表单样式 */
.register-form
{
}
.register-form fieldset
{
padding:2%;
border:1px solid #CCC;
border-radius:25px 25px;
}

/* 页面底部提示信息 */
.register-msg
{
text-align:center;
font-family:Verdana, Geneva, sans-serif;
font-size:2vmin;
color:#63F;
}

.register-button
{
margin:0 auto 0 auto;
width:120px;
height:50px;
text-align:center;
}
/* register.html end */

/* login.html begin */
.login-body
{
position:relative;
margin:0 auto 0 auto;
width:80%;
}

/* 注册表单标题 */
.login-legend
{
text-align:center;
}

/* 登录表单样式 */
.login-form
{
}
.login-form fieldset
{
padding:2%;
border:1px solid #CCC;
border-radius:25px 25px;
}

.login-button
{
margin:0 auto 0 auto;
width:120px;
height:50px;
text-align:center;
}

.login-msg
{
text-align:center;
font-family:Verdana, Geneva, sans-serif;
font-size:2vmin;
color:#63F;
}
/* login.html end */

/* about.html begin */
.about-content
{
text-align:center;
}
.about-content p
{
font-family:Verdana, Geneva, sans-serif;
font-size:2.5vmin;
color:#06F;
}
/* about html end */

/* Personal.html 个人主页 begin */
#page-personal
{
/*background-image:url(/static/images/background/bk6.jpg);
filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
-moz-background-size:100% 100%;
    background-size:100% 100%;*/
}

/* 个人主页 Personal.html begin */
.person-header
{
/*height:200px;*/
}



.person-img
{
float:left;
margin:0 3% 1% 5%;
}
.person-info .info-name
{
font-size:16px;
color:#39C;
}
.person-info .info-detail
{
font-size:12px;
color:#36C;
}

.person-glod:
{
font-color:#FF0;
}
.personal-header li
{
	float:left;
	width:33%;
	/*display:inline;
	margin-right:3%;
	max-width:180px;*/
}

.person-text
{
font-size:20px;
}
/*
.personal-header
{
width:100%;
height:30%;
background-color:#039;
}*/
/* Personal.html 个人主页 end */

/* 500.html begin*/
.error-content
{
position:relative;
text-align:center;
}
/* 500.html end */

/* 管理员页面 */
.admin-contetn h1
{
color:#63F;
}
.admin-content p
{
font-family:Verdana, Geneva, sans-serif;
color:#36F;
}





