<!-- 管理页面 管理职业分析-->
{% extends "base.html" %}

{%block header_title%}80动画{%end%}
{% block body %}
<div data-role="page" id="page-animationManage">
    <div data-role="header">
        <h1>职业分析管理</h1>
    </div>

    <div data-role="content">
    <form method="post" action="/80AnimationManage">
        {% raw xsrf_form_html() %}
      <label for="aname" id="anameSpan">动画名:</label>
      <input type="text" name="aname" id="aname" data-clear-btn = "true">
        <label for="animationImg" id="animationImgSpan">动画图片路径:</label>
      <input type="text" name="animationImg" id="animationImg" data-clear-btn="true">
        <label for="animationDescrip">新闻正文:</label>
        <textarea name="animationDescrip" id="animationDescrip"></textarea>
        <input type="submit"  value="添加" id="analy-commit">
    </form>
    </div>

    <div data-role="footer">
        <h1>{{Message}}</h1>
        <a href="/80main" class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-notext">返回首页</a>
    </div>
</div>
{% end %}