<!--管理员页面,登录的管理员用户可以访问-->
{% extends "base.html" %}

{%block header_title%}管理员页面{%end%}
{% block body %}
<div data-role="page">
    <div data-role="header" >
                <h1>管理员页面</h1>
        <div data-role="navbar">
            <ul>
                <li><a href="/admins">已注册用户</a> </li>
                <li><a href="/analy">管理职业分析</a> </li>
                <li><a href="/news">管理新闻</a> </li>
            </ul>
        </div>

    </div>

    <div data-role="content" class="admin-content">
          <ul data-role="listview" data-inset="true">
              <li><h1>注册用户信息</h1></li>
              {% for coll in colls %}
          <li>
            <a href="#" data-transition="slide">
            <img src="/static/images/{{coll['gender']}}.png">
            <h2>{{coll["username"]}}</h2>
            <p>密码:{{coll["password"]}}金币:{{coll["glod_count"]}} 等级:{{coll["power"]}}</p>
                <p> 最后登录时间:{{coll["last_login"]}}</p><p> 注册时间:{{coll["register_date"]}}</p>
            </a>
          </li>
              {%end%}
    </div>
       <!-- <div class = "admin-register-table"><h1>已注册用户列表</h1>
        <table border="1">
          <tr>
            <th>用户姓名:</th>
            <th>用户密码</th>
              <th>用户性别:</th>
              <th>最后登录时间:</th>
              <th>注册时间:</th>
              <th>金币数:</th>
              <th>等级:</th>
          </tr>
            {% for coll in colls %}
          <tr>
            <td>{{coll["username"]}}</td>
            <td>{{coll["password"]}}</td>
            <td>{{coll["gender"]}}</td>
            <td>{{coll["last_login"]}}</td>
            <td>{{coll["register_date"]}}</td>
              <td>{{coll["glod_count"]}}</td>
              <td>{{coll["power"]}}</td>
          </tr>
            {%end%}
        </table>
    </div>-->

        <div data-role="footer">
            <h1><a href="/?username={{username}}"> www.anger6.com</a></h1>
        </div>
</div>
{%end%}
