<!-- 登录页面 -->
{% extends "base.html" %}

{%block header_title%}登录{%end%}
{% block body %}
<div data-role="page" id="page-login">
    <div data-role="header">
        <h1>登录</h1>
    </div>

    <div data-role="content" class="login-body">
    <form method="post" action="/login"  class = "login-form">
        <!--如果不用tornodo模版的话,可以用self.xsrf_form_html()来生成-->
        {% raw xsrf_form_html() %}
        <fieldset>
            <legend class="login-legend"><img src="/static/images/register.jpg" width = "80px" height = "60px">
            </legend>
          <label for="fname" id="usernameSpan">姓名:</label>
          <input type="text" name="fname" id="fname" data-clear-btn = "true">
            <label for="fpassword" id="passwordSpan">密码:</label>
          <input type="text" name="fpassword" id="fpassword" data-clear-btn="true">
            <div class="login-button"> <input type="submit"  value="登录" id="login-commit"></div>
        </fieldset>
    </form>

    </div>

    <div data-role="footer"  class = "login-foot">
         <a href="/?username={{username}}" class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-notext">返回首页</a>
        <div class="login-msg"><h1>{{Message}}</h1></div>
    </div>
</div>
{% end %}