{% extends "base.html" %}

{%block header_title%}LoveLife主页{%end%}
{% block body %}
<div class="main-container">
    <div class = "main-header">
        <div class="header-logo"><img src="/static/images/logo/header_logo.jpg" width="100%" height="100%">
        </div>
        <div class="header-menu">
        <ul>
            <li>登陆</li>
            <li>注册</li>
        </ul>
        </div>
    </div>

    <div class="main-body">
    container
    </div>

    <div class="main-footer">
     foot
    </div>
</div>
{% end %}




