<!-- 新闻初级展示页面,不包含详细内容-->
{% extends "base.html" %}

{%block header_title%}实时新闻{%end%}
{% block body %}
<div data-role="page" id="page-newsshow">
    <div data-role="header">
    <img src="/static/images/newsPage.jpg" width="100%" height="150px">
    </div>

    <div data-role="content">

        <ul data-role="listview" data-filter="true" data-filter-placeholder="搜索新闻">
            {%for coll in colls%}
            <li data-role="list-divider">{{coll["newscategory"]}}</li>
            {%for item in coll["newstitle"]%}
            <li><a href="/newsdetailshow/{{item}}" data-transition="flow">{{item}}</a></li>
            {%end%}
            {%end%}
        </ul>
        <h1 hidden() id="name"></h1>
    </div>

    <div data-role="footer">
         <a href="/?username={{username}}" class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-notext">返回首页</a>
    </div>
</div>
{% end %}