<!-- 每个职业的分析展示页面 -->
{% extends "base.html" %}

{%block header_title%}职业分析{%end%}
{% block body %}
<div data-role="page" id = "page-occupation-show">
    <div data-role="header">
        <h4 id="occupation-title">正在生成<img src="/static/images/load.gif"></h4>
        <p id="name" hidden>{{occupation}}</p>
    </div>

    <div data-role="content" id = "occupation-content">
      <!--  <h4>{{occupation}}不同地区的需求状况:</h4>
        <img src="/static/images/OccupationPic/{{occupation}}ForArea.png" width="100%" height="300px"/>
        <h4>{{occupation}}不同工作经验的需求情况:</h4>
        <img src="/static/images/OccupationPic/{{occupation}}ForExperience.png" width="100%" height="200px"/>
        <h4>{{occupation}}不同学历的需求情况:</h4>
        <img src="/static/images/OccupationPic/{{occupation}}ForEducation.png" width="100%" height="200px"/>-->
    </div>

    <div data-role="footer">
        <p id="occupation-time" hidden>此份数据报告生成时间{{current_time}}</p>
        <a href="/proanaly" id="show-back" hidden class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-notext">返回首页</a>
    </div>
</div>
{% end %}