<!-- 每个职业的分析展示页面 -->
{% extends "base.html" %}

{%block header_title%}职业分析{%end%}
{% block body %}
<div data-role="page" id = "page-show">
    <div data-role="header">
        <h1>已为你生成职业{{occupation}}的分析报告:</h1>
    </div>

    <div data-role="content">
        <h1>{{occupation}}在不同地区的需求状况:</h1>
        <embed src="/static/images/OccupationPic/{{occupation}}ForArea.pdf" width="100%" height="300px"/>
    </div>

    <div data-role="footer">
        <h1>此份数据报告生成时间2016/7/24 23:59:59</h1>
        <a href="/proanaly" class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-notext">返回首页</a>
    </div>
</div>
{% end %}